*{
    background-image: url('img/fondo tipo marmol.png'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.card-container{
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    margin-top: 100px;
}
.card{

    width: 300px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin:20px;

}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;

}
.card-content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p {
    color:black;
    font-size: 15px;
    line-height: 1.3;

}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color : #fff;
}